html {
    scroll-behavior: smooth;
    font-family: 'Bungee', sans-serif;
}

p {
    color: #8aa62e;
    font-size: 32px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.left {
    display: flex;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #C7D36F;

     /* fix the navbar to the top of the page */
     position: fixed;
     top: 0;
     width: 100%;
}

a {
    display: flex;
    color: #FCF9C6;
    padding: 18px 18px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #FCF9C6;
    color: #9EB23B;
  }

.active {
    background-color: #FCF9C6;
    color: #9EB23B;
}

.resume, button:hover {
    background-color: #FCF9C6;
    color: #9EB23B;
  }

.resume {
    margin-top: 8px;
    margin-right: 15px;

    border-radius: 10px;

    border: 3px solid #FCF9C6;
    background-color: #C7D36F;
    color: #FCF9C6;
    padding: 8px 24px;
    font-size: 24px;

    font-family: 'Bungee', sans-serif;
}

body {
    background-color: #C7D36F;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    padding: 4%;
    margin: 0%;
    text-align: center;
    font-size: 180px;
}

.header > p{
    text-align: center;
    color: #8aa62e;
    font-size: 180px;
    padding: 0%;
    margin: 0;
}

.header > p:hover {
    color: #FCF9C6;
}

.scroll-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'IBM Plex Mono', monospace;

}

.arrow {
    text-align: center;
}

.scroll-group > a {
    text-decoration: none;
    color: #8aa62e;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.scroll-group:hover .scroll{
    color: #FCF9C6;
}

.scroll-group:hover .arrow{
    color: #FCF9C6;
}

.arrow {
    transform: rotate(180deg);
}


img {
    height: 600px;
    width: auto;
    border-radius: 35px;
}

.about-me-section {
    height: 100vh;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 4%;
    padding: 5.5% 4%;
}

.about-me-text {
    width: 600px;
}

.about-me-text > .about-me-header {
    font-size: 32px;
}

.about-me-text > .about-me-paragraph {
    font-size: 20px;
    font-family: 'IBM Plex Mono', monospace;
}

.footer {
    color:#8aa62e;
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;
}