* {
    font-family: 'Bungee', cursive;
}

p {
    color: #8aa62e;
    font-size: 32px;
    margin-left: 35px;
}

body {
    background-color: #C7D36F;
    /* for gradiant background:
    background-image: linear-gradient(#9EB23B, #FCF9C6);*/
}


.header {
    text-align: center;
    color: #8aa62e;
    font-size: 180px;
}

.header:hover {
    color: #FCF9C6;
}

.htop {
    margin-top: 100px;
    margin-bottom: 40px;
}

.hbottom {
    margin-top: 40px;
    margin-bottom: 70px;
}

.scroll {
    text-align: center;
    margin-bottom: 100px;
}

.scroll:hover {
    color: #FCF9C6;
}

img {
    height: auto;
    width: 500px;
    display: inline;
    border-radius: 35px;
    float: right;
    margin-right: 90px;
}

.welcome {
    display: inline;
}

ul {
    list-style-type: none; /* removies bullet points */
    margin: 0px;
    left: 0px;
    right: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #C7D36F;

    /* fix the navbar to the top of the page */
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left; /* Use float to get block elements to float next to each other */
  }
  
a {
    display: block; /* Allows us to specify padding (and height, width, margins, etc. if you want) */
    padding: 12px; /* Specify some padding between each <a> element, to make them look good */
    background-color: #C7D36F;
  }

li a {
    display: block;
    color: #FCF9C6;
    text-align: center;
    font-size: 24px;
    padding: 18px 18px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #FCF9C6;
    color: #9EB23B;
  }

.active {
    background-color: #FCF9C6;
    color: #9EB23B;
}

.resume, button:hover {
    background-color: #FCF9C6;
    color: #9EB23B;
  }

.resume {

    margin-top: 8px;
    margin-right: 15px;

    border-radius: 10px;
    border: 8px #FCF9C6;

    border: 3px solid #FCF9C6;
    background-color: #C7D36F;
    color: #FCF9C6;
    padding: 8px 24px;
    font-size: 24px;
    cursor: pointer;

}

button {
    border-radius: 15px;
    border: 8px #FCF9C6;

    border: 3px solid #FCF9C6;
    background-color: #C7D36F;
    color: #FCF9C6;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
}